html,
body {
  padding: 0;
  margin: 0;
}
body{
  background: #0A0A0A !important;
  min-height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 0;
}
* {
  box-sizing: border-box;
}
.app-index-info{
  height: 300px;
}
.features{
  height: 350px;
  display: flex;
  justify-content: center;
}
.features-list-item{
  width: 32%;
  padding-right: 20px;
}
.features-item-header {
  display: flex;
  color: #ffffff;
}
.features-item-header-icon{
  min-width: 30px;
}
.features-list .features-list-item:last-child {
  padding-right: 0;
}
.features-item-description{
  color: #6c757d!important;
}
form a{
  color: #6c757d !important;
  margin-bottom: 10px;
}
.back-button{
  position: absolute;
  top: 18px;
  left: 15px;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 15px;
  color: #000;
  background: #fff;
}
.back-button:hover {
  cursor: pointer;
}
.app-section{
  padding: 15px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 4px;
  height: 100%;
}
.notes-list-item{
  min-height: 220px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-header {
  font-family: Inter, serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
}

.notes-list-item.shadow {
  border-radius: 4px;
}

.notes-list-item-title {
  font-family: Inter, serif;
  font-weight: 600;
}
.notes-list-date{
  padding-bottom: 5px;
  text-transform: capitalize;
  width: 115px;
}
.section-header {
  font-family: Inter;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
}

.notes-list-item {
  border-radius: 4px;
  padding: 15px 20px;
  background: #000;
  transition: .5s;
  color: #fff;
}

.notes-list-item-title {
  font-family: 'Inter';
  font-weight: 600;
}
.notes-list-item-description {
  color: #6c757d;
}
.node-list-item-add-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ffffff;
  color: #000000;
  font-size: 17px;
}
.add-icon-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-list-item:hover {
  background: #333;
  cursor: pointer;
}
textarea{
  resize: none !important;
}
.notes-tabs-item{
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
}
.notes-tabs-item.active::after{
  margin-bottom: 5px;
  background: #000000;
  height: 2px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -8px;
}

.notes-tabs-item.active{
  font-weight: 600;
}
.tab-empty{
  height: 215px !important;
}
.tab-empty-icon {
  background: #000;
  width: 60px;
  height: 60px;
  text-align: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 29px;
}

.tab-empty-text {
  font-size: 17px;
  margin-top: 14px;
  color: #333333;
}
.app-textarea{
  border: none !important;

}
.app-textarea:focus{
  border: none !important;
  box-shadow: none !important;
}
.note-sidebar{
  width: 20%;
  background: #96969630;
  position: fixed;
  overflow: scroll;
  height: 100%;
}
.note-content{
  width: 80%;
  margin-left: 20%;
}
.note{
  min-height: 100vh;
}
.note-content-header-item{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 18px;
}
.note-content-header{
  background: #333;
  padding-left: 25px !important;
}
.note-sidebar-header{
  color: #272727;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note-sidebar-header i{
  padding: 0 25px;
  color: #ffffff;
}
.note-sidebar-header i:hover{
  cursor: pointer;
}
.note-sidebar-header span {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.active-note{
  background: #333333;
}
.note-sidebar-item-date{
  font-size: 14px;
}
.note-sidebar-item:hover{
  cursor: pointer;
}
.note-content-text{
  color: #ffffff;
}
.editor-button{
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-header {
  background: #242424;
  padding: 9px 0;
  box-shadow: inset 2px 0 0 0 #8c8080;
}
.text-justify{
  text-align: justify!important;
}
code {
  color: #fff !important;
  background: #ffffff73;
  border-radius: 0px;
  padding: 2px;
}
blockquote {
  margin: 0 0 1rem 2px !important;
  box-shadow: -2px 0px 0 0 #fff;
  padding-left: 10px;
}
input.note-text {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
  padding-left: 0;
}

input.note-text:focus {
  outline: none;
}
.note-sidebar {
  position: fixed;
}
.editor-header{
  position: fixed;
  width: 80%;
  margin-left: 20%;
  top: 0;
  right: 0;
}
.note-editor{
  margin-top: 60px;
  height: 630px;
  overflow-y: auto;
}
div[data-slate-editor="true"]{
  height: 100%;
}
.note-editor::-webkit-scrollbar {
  background: #242424;
  width: 5px;
  border-radius: 4px;

}
.note-editor::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
.note-editor input[type="checkbox"]{
  margin: 5px;
}
.note-text::placeholder{
  font-weight: bold;
}
.app-form button:last-child{
  margin-bottom: 0!important;
}
.note-sidebar-item-description{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.note-sidebar-item-header {
  word-break: break-all;
}